* {
  font-family: "League Spartan", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --veryDarkMagenta: hsl(300, 43%, 22%);
  --softPink: hsl(333, 80%, 67%);
  --darkGrayishMagenta: hsl(303, 10%, 53%);
  --lightGrayishMagenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}
html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: grid;
  align-items: end;
  background-image: url(../images/bg-pattern-top-mobile.svg),
    url(../images/bg-pattern-bottom-mobile.svg);
  background-repeat: no-repeat;
  background-position: left top, right bottom;
}
.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4rem;
  margin: 4rem 2rem;
}

/* ////////////////////////////////////////////////////////////////////////// */
.title {
  text-align: center;
}

.title h1 {
  color: var(--veryDarkMagenta);
  font-weight: 700;
  font-size: 4.4rem;
  margin-bottom: 0.5em;
}
.title p {
  color: var(--darkGrayishMagenta);
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.5;
}
/* ////////////////////////////////////////////////////////////////////////// */
.card {
  background-color: var(--lightGrayishMagenta);
  padding: 2rem;
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.card p {
  color: var(--veryDarkMagenta);
  font-weight: 700;
  font-size: 1.5rem;
}
.stars {
  display: grid;
  grid-template-columns: repeat(5, 1.5rem);
  gap: 1rem;
}
.star {
  display: inline-block;
  height: 1.5rem;
  background-image: url(../images/icon-star.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
/* ////////////////////////////////////////////////////////////////////////// */
.ratings {
  display: grid;
  align-items: center;
  gap: 1.5rem;
}
/* ////////////////////////////////////////////////////////////////////////// */
.testimonial {
  background-color: var(--veryDarkMagenta);
  min-height: 22rem;
  padding: 3rem;
  display: grid;
  gap: 2rem;
  border-radius: 0.5rem;
}
.testimonial header {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.testimonial h2 {
  color: var(--white);
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.2;
  max-width: 10ch;
  grid-column: 2/3;
  grid-row: 1/2;
}

.testimonial span {
  color: var(--softPink);
  font-weight: 400;
}

.testimonial p {
  color: var(--lightGrayishMagenta);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.6;
  grid-column: 1/3;
  grid-row: 2/3;
}

.profile-picture {
  display: inline-block;
  overflow: hidden;
  width: 4rem;
  height: auto;
  border-radius: 4rem;
  grid-column: 1/2;
  grid-row: 1/2;
}
/* ////////////////////////////////////////////////////////////////////////// */
.testimonials {
  display: grid;
  justify-content: center;
  gap: 2rem;
}

.attribution {
  color: var(--veryDarkMagenta);
  font-weight: 400;
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: var(--softPink);
}
